body {
    background: rgb(221, 219, 224);
}

p {
    margin: 0;
}

.imgPres {
    width: 99.6%;
    border: 1px solid rgb(92, 90, 90);
}

.prestation {
    border: 1px solid black;
    margin: 0.3%;
}

.pres_info {
    // border: 1px solid rgb(92, 90, 90);
    background: red;
    padding: 2%;
    margin-bottom: 0.3%;
    text-align: center;
}

ul.cat {
    list-style-type: none;
    border: 1px solid black;
    display: flex;
    background: red;
    padding: 0;
}

ul.cat li {
    text-align: center;
    margin: auto;
}

ul.cat li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: inline-block;
}

ul.cat li:hover {
    background: white;
}

ul.cat li:hover a {
    color: red;
}

ul.cat li.active{
    background: white;
    a {
        color: red;
    }
}


@media screen and (min-width: 768px){
.cat {
    height: 500px;
}

}