/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  background: #dddbe0;
}

p {
  margin: 0;
}

.imgPres {
  width: 99.6%;
  border: 1px solid #5c5a5a;
}

.prestation {
  border: 1px solid black;
  margin: 0.3%;
}

.pres_info {
  background: red;
  padding: 2%;
  margin-bottom: 0.3%;
  text-align: center;
}

ul.cat {
  list-style-type: none;
  border: 1px solid black;
  display: flex;
  background: red;
  padding: 0;
}

ul.cat li {
  text-align: center;
  margin: auto;
}

ul.cat li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display: inline-block;
}

ul.cat li:hover {
  background: white;
}

ul.cat li:hover a {
  color: red;
}

ul.cat li.active {
  background: white;
}
ul.cat li.active a {
  color: red;
}

@media screen and (min-width: 768px) {
  .cat {
    height: 500px;
  }
}
.container {
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  padding: 1%;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 450px) {
  .s1 {
    width: 6.8666666667%;
  }

  .offset-s1 {
    margin-left: 8.4666666667%;
  }

  .s2 {
    width: 15.3333333333%;
  }

  .offset-s2 {
    margin-left: 16.9333333333%;
  }

  .s3 {
    width: 23.8%;
  }

  .offset-s3 {
    margin-left: 25.4%;
  }

  .s4 {
    width: 32.2666666667%;
  }

  .offset-s4 {
    margin-left: 33.8666666667%;
  }

  .s5 {
    width: 40.7333333333%;
  }

  .offset-s5 {
    margin-left: 42.3333333333%;
  }

  .s6 {
    width: 49.2%;
  }

  .offset-s6 {
    margin-left: 50.8%;
  }

  .s7 {
    width: 57.6666666667%;
  }

  .offset-s7 {
    margin-left: 59.2666666667%;
  }

  .s8 {
    width: 66.1333333333%;
  }

  .offset-s8 {
    margin-left: 67.7333333333%;
  }

  .s9 {
    width: 74.6%;
  }

  .offset-s9 {
    margin-left: 76.2%;
  }

  .s10 {
    width: 83.0666666667%;
  }

  .offset-s10 {
    margin-left: 84.6666666667%;
  }

  .s11 {
    width: 91.5333333333%;
  }

  .offset-s11 {
    margin-left: 93.1333333333%;
  }

  .s12 {
    width: 100%;
  }

  .offset-s12 {
    margin-left: 101.6%;
  }
}
@media screen and (min-width: 768px) {
  .m1 {
    width: 6.8666666667%;
  }

  .offset-m1 {
    margin-left: 8.4666666667%;
  }

  .m2 {
    width: 15.3333333333%;
  }

  .offset-m2 {
    margin-left: 16.9333333333%;
  }

  .m3 {
    width: 23.8%;
  }

  .offset-m3 {
    margin-left: 25.4%;
  }

  .m4 {
    width: 32.2666666667%;
  }

  .offset-m4 {
    margin-left: 33.8666666667%;
  }

  .m5 {
    width: 40.7333333333%;
  }

  .offset-m5 {
    margin-left: 42.3333333333%;
  }

  .m6 {
    width: 49.2%;
  }

  .offset-m6 {
    margin-left: 50.8%;
  }

  .m7 {
    width: 57.6666666667%;
  }

  .offset-m7 {
    margin-left: 59.2666666667%;
  }

  .m8 {
    width: 66.1333333333%;
  }

  .offset-m8 {
    margin-left: 67.7333333333%;
  }

  .m9 {
    width: 74.6%;
  }

  .offset-m9 {
    margin-left: 76.2%;
  }

  .m10 {
    width: 83.0666666667%;
  }

  .offset-m10 {
    margin-left: 84.6666666667%;
  }

  .m11 {
    width: 91.5333333333%;
  }

  .offset-m11 {
    margin-left: 93.1333333333%;
  }

  .m12 {
    width: 100%;
  }

  .offset-m12 {
    margin-left: 101.6%;
  }
}
@media screen and (min-width: 1025px) {
  .l1 {
    width: 6.8666666667%;
  }

  .offset-l1 {
    margin-left: 8.4666666667%;
  }

  .l2 {
    width: 15.3333333333%;
  }

  .offset-l2 {
    margin-left: 16.9333333333%;
  }

  .l3 {
    width: 23.8%;
  }

  .offset-l3 {
    margin-left: 25.4%;
  }

  .l4 {
    width: 32.2666666667%;
  }

  .offset-l4 {
    margin-left: 33.8666666667%;
  }

  .l5 {
    width: 40.7333333333%;
  }

  .offset-l5 {
    margin-left: 42.3333333333%;
  }

  .l6 {
    width: 49.2%;
  }

  .offset-l6 {
    margin-left: 50.8%;
  }

  .l7 {
    width: 57.6666666667%;
  }

  .offset-l7 {
    margin-left: 59.2666666667%;
  }

  .l8 {
    width: 66.1333333333%;
  }

  .offset-l8 {
    margin-left: 67.7333333333%;
  }

  .l9 {
    width: 74.6%;
  }

  .offset-l9 {
    margin-left: 76.2%;
  }

  .l10 {
    width: 83.0666666667%;
  }

  .offset-l10 {
    margin-left: 84.6666666667%;
  }

  .l11 {
    width: 91.5333333333%;
  }

  .offset-l11 {
    margin-left: 93.1333333333%;
  }

  .l12 {
    width: 100%;
  }

  .offset-l12 {
    margin-left: 101.6%;
  }
}

/*# sourceMappingURL=style.css.map */
